.share-modal-dialog {
  background-color: white;
  border: 1px solid rgb(112, 112, 112);
  padding: 20px 24px;
  border-radius: 14px;
  box-shadow: 1px 1px 2px rgba(0, 0, 4px, 0.3);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.6;
  }

  header {
    margin-bottom: 16px;
  }

  iframe {
    border: none;
  }

  .share-modal-controls {
    margin-top: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
    cursor: pointer;
    background-color: white;
    margin: 0;
    padding: 8px 24px;
    border-radius: 10px;
    border: 1px solid var(--color-dark-grey);
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    color: black;
    transition: transform 200ms;

    &.primary {
      color: white;
      background-color: var(--color-action-primary);
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.351);
    }

    &:active {
      background-color: var(--color-action-primary-active);
      color: white;
    }
  }
}
