.optics-reflection {
  opacity: 50%;
}

.optics-reflection-observer {
  background-color: var(--color-observer);
  border-radius: 12px;
}

.optics-reflection-observable {
  fill: #fd5a5a;
  stroke-width: 0px;
}
