.mirror-lab-sandbox {
  padding: 0 24px;
  margin-top: 40px;
  header {
    flex-direction: row;
    margin-bottom: 18px;
    align-items: center;
    justify-content: space-between;
  }

  main {
    flex-direction: row;
    min-height: 400px;
    border: 1px solid var(--color-light-gray);
    border-radius: 12px;
    overflow: hidden;

    .mirror-lab-sandbox-controls {
      width: 425px;
      background-color: #faf6f5;
      border-right: 1px solid var(--color-light-gray);
      padding: 14px 8px;
      gap: 40px;
      overflow: visible;
    }
    .mirror-lab-sandbox-preview {
      & > * {
        margin: 20px;
      }
      flex: 1;
      background-color: #fefefe;
      align-items: center;
      padding: 40px 0;
    }
  }
}
