.mirror-lab-sandbox {
  flex: 1;
  height: 100%;
  overflow: hidden;

  .mirror-lab-page-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    h1 {
      font-size: 24px;
    }

    .control-buttons {
      align-items: center;
      flex-direction: row;
      gap: 10px;
    }
  }

  main {
    flex-direction: row;
    min-height: 400px;
    border: 1px solid var(--color-light-gray);
    overflow: hidden;
    flex: 1;

    .mirror-lab-sandbox-preview {
      width: 100%;
      overflow: auto;
      flex-shrink: 1;
      background-color: #fefefe;
      align-items: center;
      justify-content: center;
    }
  }
}
