/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
main,
section,
div,
header,
footer,
ol,
ul,
li,
button {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

dialog {
  padding: 0;
  border: none;
}

/* Default style */
:root {
  --font-lato: Lato, sans-serif;
  --color-light-gray: #cecece;
  --color-dark-grey: #585858;

  --color-action-primary: #0ab9ff;
  --color-action-primary-active: #0697d1;

  --color-observer: #89ee96;
  --color-mirror: #58adf4;
}

body {
  font-family: var(--font-lato);
  height: 100vh;
}
