/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
main,
section,
div,
header,
footer,
ol,
ul,
li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Default style */
:root {
  --font-lato: Lato, sans-serif;
  --color-light-gray: #cecece;
  --color-dark-grey: #585858;
  --observer-color: #89ee96;
}

body {
  font-family: var(--font-lato);
}
