.component-icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 200ms;

  &:enabled svg {
    color: var(--color-action-primary);
  }

  &:enabled:hover {
    transform: scale(1.1);
  }

  &:enabled:active svg {
    color: var(--color-action-primary-active);
  }

  &:disabled svg {
    color: #d8d8d8;
  }
}
